.header__logo-wrapper {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -5.1em;
	z-index: 2;
}

.logo__picture {
	opacity: 1;
	transition: opacity .2s;
	user-select: none;

	&:hover {
    opacity: 0.7;
    transition: opacity .2s;
  }

  &:active {
    opacity: 0.3;
    transition: opacity .2s;
  }
}
