.header__nav-toggle-button {
	position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 56px;
  height: 56px;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--closed .header__nav-toggle-button::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 20px;
  width: 24px;
  height: 4px;
  background-color: $basic-color;
  box-shadow: 0 8px 0 0 $basic-color, 0 16px 0 0 $basic-color;
}

.nav--opened .header__nav-toggle-button {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 15px;
    width: 31px;
    height: 4px;
    background-color: $main-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// <!DOCTYPE Liky>
