.intro {
	position: relative;
	height: 38.9em;
	padding-top: 9em;
	box-sizing: border-box;
	background-color: #222;
	// background-image: url("./img/decorative/background--mobile.png");

	// @media (min-width: $tablet-width) {
	// 	background-image: url("./img/decorative/background--tablet.png");
	// }

	// @media (min-width: $desktop-width) {
	// 	background-image: url("./img/decorative/background--desktop.png");
	// }
}

.intro__title-block {
	min-width: 32em;
	height: fit-content;
}

.intro__img {
	display: block;
	width: 28.2em;
	height: 21.4em;
	margin: 0 auto;
}

.intro__deco-block {
	position: absolute;
	min-width: 32em;
	height: 5.7em;
	bottom: 0;
}

.intro__deco-img {
	min-width: 32em;
	width: 100vw;
	height: auto;
}

//<!DOCTYPE Liky>
