.intro {
	padding-top: 9em;
	background-color: #222;
	// background-image: url(./img/decorative/background-mobile.png);

	// @media (min-width: $tablet-width) {
	// 	background-image: url("./img/decorative/background-tablet.png");
	// }

	// @media (min-width: $desktop-width) {
	// 	background-image: url("./img/decorative/background-desktop.png");
	// }
}

.intro__img {
	min-width: 32em;
	width: 100vw;
	height: auto;
}

.intro__deco-block {
	margin: 0;
	padding: 0;
	height: 2.7em;
}

.intro__deco-img {
	min-width: 32em;
	width: 100vw;
	height: auto;
}
